body {
  font-family: 'Lilita One', cursive;
  background: #f06d06;
  color: black;
  text-align: center;
}
body {
  background:url(https://s3mn.mnimgs.com/img/shared/school/454167/images/verified/454167.jpg)
}